<html>
    <head>
        <title>Deepali Shukla's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">My life is pretty simple</a></h1>
        </div>

        <div>
            <p>published: 13.09.2014, 8:00</p>
            <h2><a href="">Most important part of my life are my parents and my big Bro :D</a></h2>
            <p>Mom, dad and bro, i love you.</p>
        </div>

        <div>
            <p>published: 13.09.2014, 9:00</p>
            <h2><a href="">Second most important part of my life are my chutiya friends :D</a></h2>
            <p>Hard to think, who is the biggest chutiya among the 3 monkey's :p</p>
        </div>
    </body>
</html>
